/*.itens-menu{
    padding: 30px 40px;
}

.itens-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type:none;
}

.itens-menu li a{
    margin: 0px 15px;
    font-family: Lato, sans-serif;
    text-decoration: none;
    color: #fff;
}

.itens-menu li a:hover{
    color: #4DC1A5;
}

.icone-menu{
    display: none;
}


@media screen and (max-width: 550px) {
    .itens-menu{
        position: absolute;
        z-index: 99;
        padding: 0px;
        top: 0px;
        right: 0px;
        width: 50%;
        height: 100%;
        background-color: rgb(0, 0, 0, .95);
        padding: 30px 0px 0px 20px;
        display: none;
    }

    .itens-menu ul{
        flex-direction: column;
    }
    
    .itens-menu ul.open{
        display: flex;
    }


    .itens-menu li{
        padding: 8px 0px;
    }

    .icone-menu{
        display: block;
        color: #ffffff;
        font-size: 16px;
        padding: 20px 30px 0px 0px;
        text-align: end;
    }
}
*/
nav .icone-menu{
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
    font-size: 18px;
    padding: 20px 30px 0px 0px;
}

nav ul{
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type:none;
}

nav ul li a{
    margin: 0px 15px;
    font-family: Lato, sans-serif;
    text-decoration: none;
    color: #fff;
}

nav ul li .active{
    color: #4DC1A5;
}

@media screen and (max-width: 550px) {
    nav .icone-menu{
        display: flex;
    }

    nav ul{
        position: absolute;
        z-index: 99;
        flex-direction: column;
        justify-content: start;
        top: 0px;
        right: 0px;
        width: 50%;
        height: 100%;
        background-color: rgb(0, 0, 0, .95);
        display: none;
    }

    nav ul.open{
        display: flex;
    }
    
    nav ul li{
        padding: 8px 0px;
    }
}